/*-- scss:defaults --*/

// fonts

@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-monospace: 'Fira Mono', monospace;

$primary-color: #ff2a1b;
$secondary-color: #39729E; 
$link-color: 	#000080;
$presentation-heading-color: $primary-color;
$code-color: #820bbb;
$code-block-font-size: 0.85em;
$presentation-h2-font-size: 1.4em !default;
$presentation-font-size-root: 26px !default;
$navy_blue: #000080;
$golden: #FFD700;

/*-- scss:rules --*/

body {
  font-family: $font-family-sans-serif;
}

code {
  font-family: $font-family-monospace;
  color: $code-color;
  font-size: 0.85em;
}


strong,
b {
  font-weight: bold;
  color: #006D6B;
}

em,
i {
  font-style: italic;
  color: $link-color; /* Customize your italic text color if needed */
}

details>summary {
  font-size: 0.75em;
}

.reveal .slides>section.title-slide {
  background-color: #006D6B; /* Set your desired background color */
}


#title-slide .institute {
  padding-bottom: 200px;
}

.small {
  font-size: 0.85em;
}

.smallest {
  font-size: 0.6em;
}

.large {
  font-size: 1.4em;
}

.huge-hand {
  font-size: 2.6em;
  font-family: 'Gochi Hand', cursive;
}

.medium {
  font-size: 1em;
}

.center-align {
  text-align: center;
}

.reveal .slide figure>figcaption, .reveal .slide img.stretch+p.caption, .reveal .slide img.r-stretch+p.caption {
  font-size: 0.6em;
  color: gray;
}

.reveal .hand {
  font-family: 'Gochi Hand', cursive;
  font-size: 1.2em
}

.reveal .hand-blue {
  font-family: 'Gochi Hand', cursive;
  color: $secondary-color;
  font-size: 1.3em
}

.reveal .hand-blue-large {
  font-family: 'Gochi Hand', cursive;
  color: $secondary-color;
  font-size: 3em
}

.reveal .slide .task {
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 6px;
  margin-top: 6px;
  border-left: solid 5px $primary-color;
  background-color: lighten($primary-color, 20%);
}

.reveal .slide .demo {
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 6px;
  margin-top: 6px;
  border-left: solid 5px $secondary-color;
  background-color: lighten($secondary-color, 50%);
}


/* Custom background color for callout-tip */
.callout-tip {
  background-color: #f0f8ff; 
  border-left: solid 5px $primary-color; 
  padding: 10px; 
  margin: 10px 0; 
}

.reveal h2 {
  background-color: #006D6B;
  padding: 10px 0px 10px 20px;
  height: 55px;
  color: white;
  border-radius: 0px;
}

